{% extends 'layout.html' %}
{% load static %}

{% block title %}
  SpaceBar ~ where the astronauts get high
{% endblock title %}

{% block content %}
  {% include 'includes/navbar.html' %}
  <div class="container my-3">
    {% for post in posts %}
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title">{{ post.author.username }} <button class="material-icons">favorite_border</button> </h2>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    {% empty %}
      <span class="text-center font-weight-bold h3">Nothing much to show here ¯\_(ツ)_/¯</span>
    {% endfor %}
  </div>
{% endblock content %}